/**
Stylesheet for Portfolio
**/

.box {
   position: relative; 
   height: 100px;
   width: 300px;
   border-style: solid; 
   font-size: 20px;
   color: white;
   background: #4aaaa5;
   text-align: center;
   font-family: 'Georgia', Times, Times New Roman, serif;
   left: 9%;
}

.text1 {
    text-align: center;
    font-size: 20px;
    margin-left: 200px;
    margin-right: 200px;
}

.this {
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif ;
    font-size: 30px;
    margin-left: 220px
}

#me {
    margin-left: 200px;
    height: 200px;
    width: 300px;
}

.button {
    float: right;
    margin-right: 200px;
}

#b1 {
    height: 40px;
    width: 120%;
    border:none;
    background: white;
    color: #4aaaa5;
    
}

#b2 {
    height: 40px;
    width: 120%;
    border:none;
    background: white;
    color: #4aaaa5;
    margin-right: 0;
}

#b3 {
    height: 40px;
    width: 120%;
    border:none;
    background: white;
    color: #4aaaa5;
    clear: both;
}

.form1 {
    text-align: left;
    padding: 80px;
    margin-left: 200px;
    margin-right: 200px;
}