/**
Stylesheet for Portfolio
**/

.box {
   position: relative; 
   height: 100px;
   width: 300px;
   border-style: solid; 
   font-size: 20px;
   color: white;
   background: #4aaaa5;
   text-align: center;
   font-family: 'Georgia', Times, Times New Roman, serif;
}

.size {
    width: 960px;
    Margin: 200px
}

.text1 {
    text-align: center;
    font-size: 20px;
}

.this {
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif ;
    font-size: 30px;
}

#me {
    height: 200px;
    width: 300px;
}

.button {
    float: right;
}

.b1 {
    font-size: 20px;
    border:none;
    background: white;
    color: #4aaaa5;
}

.b2 {
    font-size: 20px;
    border:none;
    background: white;
    color: #4aaaa5;
}

.b3 {
    font-size: 20px;
    border:none;
    background: white;
    color: #4aaaa5;
}

.form1 {
    text-align: left;
    padding: 80px;
}

#img1 {
    padding: 50px;
}

#img2 {
    padding: 50px;
}

#img3 {
    padding: 50px;
}


#img4 {
    padding: 50px;
}

#img5 {
    padding: 50px;
}

.form1 {
    display: block;
    text-align: center;
}
